{{#if label}}
	<label>{{label}}</label>
{{/if}}
{{#each _options as |op|}}
    {{#if optionTheme}}
        <div class={{optionTheme}} >
            {{#ui-checkbox value=op.value  tagName=optionTag }}{{op.label}}{{/ui-checkbox}}
        </div>
    {{else}}
        {{#ui-checkbox value=op.value  tagName=optionTag }}{{op.label}}{{/ui-checkbox}}
    {{/if}}
{{/each}}

{{yield}}
